@tailwind base;
@tailwind components;
@tailwind utilities;

.homesec{
    background-image: url('https://media.giphy.com/media/3ov9jQWd5qhiUSPDri/giphy.gif');
    background-repeat: no-repeat;
    background-size: cover;
}